<%= button_to('Back', root_path, method: :get) %>
<div class="container" id="api_config_container">
  <%= render partial: 'api_table' %>

  <%= render partial: 'form' %>

  <%= render partial: 'threads' %>

  <%= render partial: 'request_logs' %>

  <%= render partial: 'db_transaction_logs' %>
</div>




